@font-face {
    font-family: "Nova";
    src: url("../fonts/ProximaNova-Reg.otf") format("truetype");
}

@font-face {
    font-family: "Rounded";
    src: url("../fonts/VAGRoundedStd-Light.otf") format("truetype");
}

body {
	overflow: scroll;
	margin: 0;
}

#header {
	height: 40px;
	width: 100%;
	background-color: #2990ea;
	border-bottom: solid 2px rgb(50, 50, 50);
}

#header img {
	margin: auto;
	margin-left: 20px;
}

#header #api {
	width: 20%;
	float: right;
	line-height: 45px;
	font-weight: 600;
}

#sidebar {
	font-family: "Rounded";
	margin-top: -1px;
	float:left;
	min-height: 100%;
	font-size: 12px;
	font-weight: 600;
	width: 230px;
	background-color: rgb(46, 60, 82);
}

#page-links {
	border: outset 2px rgb(50, 50, 50);
}

.page-name {
	margin-left: 10px;
}

.page-edit {
	margin-left: 100px;
	margin-top: -15px;
	width: 40px;
	height: 18px;
	cursor: pointer;
	position: absolute;
	float: right;
	background-position: -30px -12px;
}

#page-links #new-page-button {
	background-color: inherit;
	border: 2px solid gray;
	color: gray;
}

#page-links #new-page-button .page-edit {
	margin-left: 120px;
	width: 20px;
	background-position: -90px -12px;
}

.page-link:hover .page-edit {
	background-image: url("../img/edit-buttons.png")
}

.title {
	font-size: 25px;
}

#sidebar .sidebar-header {
	clear:both;
	border: outset 1px rgb(26, 38, 53);
	text-align: center;
	margin: auto;
	height: 30px;
	line-height: 30px;
	background-color: rgb(76, 108, 128);
	color:lightgrey;
}

#page-links .page-link {
	color: white;
	background-color: #2990ea;
	border: outset 1px dark-gray;
	width: 140px;
	float: center;
}

.page-link { 
	font-size: 12px;
	font-weight: 600;
	border-radius: 5px;
	margin: 10px auto;
	padding: 10 5;
}
#element-icons div:hover {
	background-color: #3E4D6D;
}

#element-icons {
	text-align: center;
	vertical-align: text-bottom;
	height: 220px;
	display:block;
	color: grey;
	font-weight: 600;
}

#element-icons div {
	border: outset 1px rgb(26, 38, 53);
	padding: 0px;
	float:left;
	height: 110px;
	width: 113px;
	overflow: hidden;
}

#element-icons div:nth-child(1) .element-img {
	background-position: -10px 0px; /* 4 35 65 95*/
}

#element-icons div:nth-child(2) .element-img {
	background-position: -70px 0px; /* 4 35 65 95*/
}

#element-icons div:nth-child(3) .element-img {
	background-position: -130px 0px; /* 4 35 65 95*/
}

#element-icons div:nth-child(4) .element-img {
	background-position: -190px 0px; /* 4 35 65 95*/
}

#element-icons div .element-img {
	border: none;
	margin: 10 25 0 25;
	width: 60px;
	height: 80px;
	overflow: hidden;
	background-image: url("../img/element-icons-2x.png");
	background-size: 260px;
}

#content {
	margin-left: 300px;
	margin-right: 80px;
	margin-top: 40px;
	overflow: scroll;
}
#site-grid {
	padding: 0px;
	border: outset 1px rgb(26, 38, 53);
	border-bottom: outset 2px rgb(26, 38, 53);
	width: 228px;
	height: 50px;
	line-height: 50px;
	color: grey;
	font-weight: 600;
	text-indent: 20px;
}

.element {
	border-radius: 10px;
	margin: 10 5;
	padding: 10px;
	width: auto;
	min-width: 150px;
}

.hidden {
	visibility: hidden;
}

.delete {
	width: 40px;
	height: 50px;
	float: right;
	margin-top: -25px;
	margin-right: -16px;
	background-image: url("../img/del-element.png");
	background-repeat: no-repeat;
	background-position-x: -9px;
	visibility: hidden;
}


#content {
	font-family: "Nova";
	color: grey;
}
table {
	width: 100%;
	border-collapse: collapse;
	color: grey;
}

td {
	margin: 0 5px;
	vertical-align: top;
}

.image-grid {
	height: 200px;
	border: solid 2px grey;
	background-color: lightgrey;
	background-image: url("../img/image-placeholder.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.text-grid {
}

#horizontal-page-nav {
	height: 50px;
	margin: 10px;
	margin-top: 0px;
}

.element:hover {
	border: 5px lightblue solid;
	border-radius: 5px;
}

.element:hover .delete {
	visibility: visible;
}

#horizontal-page-nav .page-link {
	width: 100px;
	float: left;
	text-indent: 0;
	text-align: center;
	background-color: white;
	border: 2px solid gray;
	margin-right: 10px;
	color: gray;
}

#horizontal-page-nav .page-link.active {
	background-color: gray;
	border: 2px solid gray;
	color: white;
}

#horizontal-page-nav .page-link:hover {
	background-color: gray;
	border: 2px solid gray;
	color: white;
}

#switch.blue-switch {
	background-position-y: -5px;
}

#switch {
	width: 100px;
	margin-top: 10px;
	height: 25px;
	float: right;
	background-image: url("../img/switch.png");
	background-position-y: -53px; 
	background-repeat: no-repeat;
}