h2 {
    text-align: left;
}

.section {
    padding: 30px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #6E787F;
}

.header {
    font-weight: bold;
    color: white;
    height: 50px;
    background-color: #4B4BCF;
    box-shadow: 0 4px 2px -2px gray;
}

.pure-button-primary {
    background-color: #4B4BCF;
}

.logo {
    font-size: 2.5em;
    text-decoration: none;
    color: white;
}

.venmo-login {
    font-size: 1.5em;
    float: right;
}

.venmo-login-logo {
    height: 20px;
}

.profile-pic {
    height: 50px;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #E6E6E6;
}

.user-name {
    margin-bottom: 40px;
    vertical-align: middle;
    display: inline-block;
}

.video-background {
    opacity: .40; /* Standard: FF gt 1.5, Opera, Safari, CSS3 */
    filter: alpha(opacity=40); /* IE lt 8 */
    -ms-filter: "alpha(opacity=40)"; /* IE 8 */
    -khtml-opacity: .40; /* Safari 1.x */
    -moz-opacity: .40; /* FF lt 1.5, Netscape */
    width: 100%;
}

.video-overlay {
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0;
    text-align: center;
    font-size: 3em;
    color: white;
}

.video {
    position: relative;
    height: 500px;
    overflow: hidden;
    background-color: black;
}

.logout {
    font-size: 0.75em;
    margin: 0 10px;
}

.centered-view {
    width: 980px;
    margin: 0 auto;
}

.centered-wrapper {
    text-align: center;
    background-color: white;
}

.money-view-top {
    text-align: left;
}

.balance {
    font-size: 1.5em;
}

#slider {
    width: 400px;
    margin: 50px 0;
    margin-top: 15px;
}

#percent {
    margin-top: 40px;
}

.transaction-table {
    width: 980;
    margin-bottom: 50px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

#dw_response {
    margin-top: 10px;
    color: green;
    width: 400px;
}

#dropdown-1 {
    font-size: 0.5em;
}

.ui-widget-header {
    background: white !important;
}

.ui-widget-content {
    border: 1px solid #242323 !important;
    background: #313131 !important;
}

#preview, .preview {
    text-align: center;
    padding-bottom: 0;
}

#preview {
    padding-bottom: 30px;
}

.screenshot {
    border: 1px solid #DADADA;
    margin-bottom: 60px;
    width: 100%;
}

.footer {
    background-color: #2C3E50;
    color: white;
    padding-top: 0px;
    padding-bottom: 10px;
}

.footer a {
    color: white;
    padding: 10px;
}

.sides {
    text-align: center;
}

.side-module {
    margin: 0 auto;
    width: 200px;
}
