<html>
  <head>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/static/css/index.css'>

    <link type="text/css" rel="stylesheet" href="/static/css/jquery.dropdown.css" />
    <script type="text/javascript" src="/static/js/jquery.dropdown.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="/static/css/c3.css" rel="stylesheet" type="text/css">
    <script src="/static/js/c3.js"></script>
    <script src="/static/js/index.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

  </head>
  <body>
    <div class="container">
    {% block content %}
    {% endblock %}
</div>
  </body>
</html>
