<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ShrubFund FAQ</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/etc/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/faq.css">
    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-10 -->
            <header class="header-10 bg-turquoise" style="font-family: Langdon;">
                <div class="container">
                    <div class="navbar col-sm-12" role="navigation">
                        <a href="/"><img src="static/img/logo.png" width="320" height="140" class="logo"></a>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li><a href="/" style="font-size:25px;">HOME</a></li>
                                <li><a href="/portfolio" style="font-size:25px;">PORTFOLIO</a></li>
                                <li class="active"><a href="/faq" style="font-size:25px;">FAQ</a></li>
                                <li><a style="font-size:25px;" href="mailto:contact@shrubfund.co?subject=ShrubFund";>
                                    CONTACT
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>


            <div class="faq">
                <h3 class="question">Can I afford to invest?</h3>
                <h4 class="answer">Absolutely! In fact, you're very likely to come out with more money if you invest rather than keeping your money in a checking account. If anything, you can't afford to let inflation eat away at your savings.</h4>
                <h3 class="question">What does easy liquidation mean?</h3>
                <h4 class="answer">Easy liquidation means that your money won't be tied up. We don't limit you on the number of deposits or withdrawals, so you'll have easy access to your savings whenever you might need them.</h4>
                <h3 class="question">Can I withdraw money whenever I want?</h3>
                <h4 class="answer">Yup! Withdrawing funds may take 1-3 business days before the funds become available in your checking account.</h4>
                <h3 class="question">Will there be a minimum balance requirement?</h3>
                <h4 class="answer">Nope! We want our platform to be open to everyone.</h4>
                <h3 class="question">How do you make money?</h3>
                <h4 class="answer">We charge 0.50% of your balance, while Vanguard funds charge us around 0.40% — we take the difference to pay for our operating costs.</h4>
                <h3 class="question">Why shouldn't I just use Vanguard instead?</h3>
                <h4 class="answer">
                <ul>
                    <li style='line-height:25px; margin-bottom:10px;'>There is a $3000 minimum balance requirement for Vanguard.</li>
                    <li style='line-height:25px; margin-bottom:10px;'>Vanguard also charges a $20 annual service fee, which will be less than what we take for an entire year assuming you invest less than $3000.</li>
                    <li style='line-height:25px; margin-bottom:5px;'>We provide a simpler onboarding process and better user experience through our application. We provide nice, formatted daily reports and statistics on how your investments are doing.<br>
                </ul>
                </h4>
                <h3 class="question">Whoa, this idea is awesome! Need any help?</h3>
                <h4 class="answer">
                    Absolutely. We are currently a 
                    <a target="_blank" href="https://www.linkedin.com/people/invite?from=profile&key=213279118">one person</a> team so please reach out if you're interested in this project. Bonus points if you happen to be a talented IOS developer.
                </h4>
                </a>
                <h5 class="morequestions">
                    <a href="mailto:jessica@shrubfund.co?subject=ShrubFund">
                        More questions? Send them our way.
                    </a>
                </h5>
            </div>

        <footer class="footer-2 bg-midnight-blue">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                            <li>
                                <a href="/portfolio">Portfolio</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="mailto:contact@shrubfund.co?subject=ShrubFund">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-btns pull-right">
                        <a target="_blank" href="https://www.linkedin.com/company/shrubfund/"><div class="fui-linkedin"></div><div class="fui-linkedin"></div></a>
                        <a target="_blank" href="https://www.facebook.com/shrubfund"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                        <a target="_blank" href="https://www.twitter.com/shrubfundco"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                    </div>
                    <div class="additional-links">
                        Be sure to take a look to our <a href="/legal">Terms of Use</a> and <a href="/privacy">Privacy Policy</a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
