<div class='pure-g' style="background-color:#FCFCFC">
    <div class='pure-u-1 section header' style="background-color: #FCFCFC; color: MidnightBlue;">
        <span class='logo' style="color: MidnightBlue;">
            <i class='fa fa-slideshare'></i> PokerBot
        </span>
        <a class="venmo-login pure-button pure-button-primary"
           href="https://api.venmo.com/v1/oauth/authorize?client_id={{data.client_id}}&scope=make_payments,access_email,access_profile&response_type=code">
            Log in with <img class='venmo-login-logo' src='static/img/venmologo.png' />
        </a>
    </div>

    <div class='pure-u-1 section preview'>
        <h1 id='preview'>
            PokerBot wants to play with you!
        </h1>
        <div class='pure-g'>
            <div class='pure-u-1-4'>
            </div>
            <div class='pure-u-1-2'>
                <img class='screenshot' src='static/img/pokerbot.png' />
            </div>
            <div class='pure-u-1-4'>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
