<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src='static/js/index.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="static/css/builder.css">
  </head>
  <body>
    <div id="header">
      <img src="static/img/weebly-logo.png"/>
    </div>
    <div id='sidebar'>
      <div class="sidebar-header">TEMPLATES</div>
      <div id="page-links">
        {% for p in pages %}
        <div class="page-link" data-id="{{p._id}}" href="#">
          <div class="page-name">{{p.name}}</div>
          <div class="page-edit"></div>
        </div>
        {% endfor %}
        <div class="page-link" id="new-page-button" href="#">
          <div class="page-name">ADD NEW PAGE</div>
          <div class="page-edit"></div>
        </div>
      </div>
      <div class="sidebar-header">ELEMENTS</div>
      <div id="element-icons">
        <div><div class="element-img"></div>TITLE</div>
        <div><div class="element-img"></div>TEXT</div>
        <div><div class="element-img"></div>IMAGE</div>
        <div><div class="element-img"></div>NAV</div>
      </div>
      <div class="sidebar-header">SETTINGS</div>
      <div id="site-grid">SITE GRID
        <span id='switch'></span>
      </div>
    </div>
    <div id="content">
      <div id="horizontal-page-nav">
        {% for m in pages %}
          <div class="page-link" data-id="{{m._id}}" href="#">
            {{m.name}}
          </div>
        {% endfor %}
      </div>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="element image-grid">
                <div class="delete"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="element title">
                <div class="delete"></div>
                Add Title Here
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="element text-grid">
                <div class="delete"></div>
                <span>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</span>
              </div>
            </td>
            <td>
              <div class="element image-grid">
                <div class="delete"></div>
              </div>
            </td>
            <td>
              <div class="element text-grid">
                <div class="delete"></div>
                <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</span>
              </div>
            </td>
            <td>
              <div class="element text-grid">
                <div class="delete"></div>
                <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>


