<head>
  <script type="text/javascript">
  // GOOGLE JAVASCRIPT SDK
	(function() {
	  var po = document.createElement('script');
	  po.type = 'text/javascript'; po.async = true;
	  po.src = 'https://plus.google.com/js/client:plusone.js';
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(po, s);
	})();

	// FACEBOOK JAVASCRIPT SDK
	window.fbAsyncInit = function() {FB.init({appId : '1534099716827401', xfbml: true, version : 'v2.1'});};
	(function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/sdk.js";
	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    <img src="static/img/weebly-full-logo.png" id="weebly">
    <button class="g-signin" data-scope="https://www.googleapis.com/auth/plus.login" data-theme="dark"
    	data-cookiepolicy="single_host_origin" data-clientId="{{data.client_id}}" data-callback="loginCallback">
      <img src="static/img/google-oauth.png" id="loginGoogle">
    </button>
    <a href="http://weebly-junior.herokuapp.com/auth"><img src="static/img/facebook-oauth.png" id="loginFb"></a>
</body>

<script type="text/javascript">
    /**
     * Retrieves and renders the authenticated user's Google+ profile.
     */
	function loginCallback(authResult) {  
	  if (authResult['access_token'] & authResult['g-oauth-window']) {
		$.ajax({
			type: 'POST',
			url: window.location.href + '/../connect?certificate={{data.certificate}}',
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
		  		window.location.href = "/../"
			},
			processData: false,
			data: authResult.code
		});
	  } else if (authResult['error']) {
	    console.log('There was an error: ' + authResult['error']);
	  }
	}

</script>