<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ShrubFund Portfolio</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/etc/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-10 -->
            <header class="header-10 bg-turquoise" style="font-family: Langdon;">
                <div class="container">
                    <div class="navbar col-sm-12" role="navigation">
                        <a href="/"><img src="static/img/logo.png" width="320" height="140" class="logo"></a>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li><a href="/" style="font-size:25px;">HOME</a></li>
                                <li class="active"><a href="/portfolio" style="font-size:25px;">PORTFOLIO</a></li>
                                <li><a href="/faq" style="font-size:25px;">FAQ</a></li>
                                <li><a style="font-size:25px;" href="mailto:contact@shrubfund.co?subject=ShrubFund">
                                    CONTACT
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>


            <section class="price-1">
                <div class="container">
                    <h3>Portfolio Options</h3>
                    <p class="lead">
                        We do our homework to give clients the best chance for investment success.
                    </p>
                    <div class="row plans">
                        <div class="col-sm-4">
                            <div class="plan">
                                <div class="title">Conservative</div>
                                <div class="price">6-8% ROI*</div>
                                <div class="description">
                                    <b>Stay ahead of inflation</b><br>
                                    40% Government Bonds<br>
                                    20% Coporate Bonds<br>
                                    15% Large Company Stocks<br>
                                    11% Real Estate Stocks<br>
                                    9% Small Company Stocks<br>
                                    5% Emerging Market Stocks<br>
                                </div>
                                <a class="btn btn-primary" href="#">More Details ></a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="plan">
                                <div class="title">Moderate</div>
                                <div class="price">8-12% ROI*</div>
                                <div class="description">
                                    <b>Take reasonable risks</b><br>
                                    33% Corporate Bonds<br>
                                    19% Small Company Stocks<br>
                                    16% Real Estate Stocks<br>
                                    16% Large Company Stocks<br>
                                    10% Emerging Market Stocks<br>
                                    11% Government Bonds
                                </div>
                                <a class="btn btn-primary" href="#">More Details ></a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="plan">
                                <div class="title">Aggressive</div>
                                <div class="price">10-14% ROI*</div>
                                <div class="description">
                                    <b>Be young and aggressive</b><br>
                                    30% Real Estate Stocks<br>
                                    25% Small Company Stocks<br>
                                    20% Emerging Market Stocks<br>
                                    14% Large Company Stocks<br>
                                    6% Corporate Bonds<br>
                                    5% Government Bonds
                                </div>
                                <a class="btn btn-primary" href="#">More Details ></a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <div style="text-align:center;margin-bottom:15px;">
                <b>**DISCLAIMER:</b> Investment projections are hypothetical in nature. Returns on investment not guaranteed.
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages and messages.0 != "Thanks. We'll be in touch shortly." %}
                <section class="content-13 subscribe-form" style="background-color:red;" id="signup">
            {% else %}
                <section class="content-13 subscribe-form bg-turquoise" id="signup">
            {% endif %}
                <div class="container">
                    <div class="row">
                        <form action="/portfolio" method="post">
                            <div class="col-sm-8">
                                {% if messages %}
                                <input name="email" type="text" placeholder='{{messages.0}}' spellcheck="false">
                                {% else %}
                                <input name="email" type="text" placeholder="Enter your e-mail" spellcheck="false">
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-large btn-primary" type="submit">
                                    SIGN UP FOR BETA
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            {% endwith %}

            <footer class="footer-2 bg-midnight-blue">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                            <li>
                                <a href="/portfolio">Portfolio</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="mailto:contact@shrubfund.co?subject=ShrubFund">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-btns pull-right">
                        <a target="_blank" href="https://www.linkedin.com/company/shrubfund/"><div class="fui-linkedin"></div><div class="fui-linkedin"></div></a>
                        <a target="_blank" href="https://www.facebook.com/shrubfund"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                        <a target="_blank" href="https://www.twitter.com/shrubfundco"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                    </div>
                    <div class="additional-links">
                        Be sure to take a look to our <a href="/legal">Terms of Use</a> and <a href="/privacy">Privacy Policy</a>
                    </div>
                </div>
            </footer>


         </div>
    </body>
</html>
