<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Privacy Policy</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/flat-ui/images/favicon.ico">
        <link rel="stylesheet" href="/static/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/static/etc/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-10 -->
            <header class="header-10 bg-turquoise" style="font-family: Langdon;">
                <div class="container">
                    <div class="navbar col-sm-12" role="navigation">
                        <a href="/"><img src="static/img/logo.png" width="320" height="140" class="logo"></a>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li><a href="/" style="font-size:25px;">HOME</a></li>
                                <li><a href="/portfolio" style="font-size:25px;">PORTFOLIO</a></li>
                                <li><a href="/faq" style="font-size:25px;">FAQ</a></li>
                                <li><a href="mailto:contact@shrubfund.co?subject=ShrubFund" style="font-size:25px;">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>


            <h1 style="text-align:center;"> Privacy policy </h1>
         </div>
    </body>
</html>
