<html>
  <head>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/static/css/index.css'>

    <link type="text/css" rel="stylesheet" href="/static/css/jquery.dropdown.css" />
    <script type="text/javascript" src="/static/js/jquery.dropdown.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="/static/css/c3.css" rel="stylesheet" type="text/css">
    <script src="/static/js/c3.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
    <div class='pure-g'>
    <div class='pure-u-1 section header'>
        <a class='logo' href='/'>
            <img class='fa' width="50" src="static/img/robot.png"/> PokerBot
        </a>
        <span class='venmo-login'>
            <span class='user-name'>{{ data.user.first_name }} {{ data.user.last_name}}</span>
            <div id="dropdown-1" class="dropdown dropdown-tip dropdown-anchor-right">
                <ul class="dropdown-menu">
                    <li><a href="mailto:jessicashu127@gmail.com?subject=PokerBot">Contact</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <img data-dropdown='#dropdown-1' data-horizontal-offset="-10" class='profile-pic' src='{{ data.user.profile_picture_url }}' />
        </span>
     </div>
    </div>
     <form style="width:50%;margin-left:25%;margin-top:50px;">
        Set up daily spending warnings: $<input type="text" name="warnings"><br>
        Get weekly performance reports<input type="checkbox" name="text" value="weekly"><br>
        <input type="button" name="submit" value="Update Settings">
    </form>
    {% include 'footer.html' %}
</html>
